<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 담당자: Oh -->
<mapper namespace="com.mp3.mapper.MemberFindMapper">
<!--   아이디 찾기 이름, 메일 -->
  	<select id="MemverIDFindMail" resultType="com.mp3.domain.MemberVO">
		select member_id from member where member_name=#{member_name} and member_mail=#{member_mail}
  	</select>
  	
  	

<!--   	비밀번호 초기화  아이디,이름,메일-->
  	<update id="MemverPassFindMail" >
  		update member set member_pass=#{member_pass} where member_id=#{member_id} 
  				and member_name=#{member_name} and member_mail=#{member_mail}
  	</update>

  	
  	
  	
  	
  	
</mapper>